html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.hidden {
  display: none !important;
}

#compatibility-table tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.02);
}

#compatibility-table tr.group,
#compatibility-table tr.group:hover {
  background-color: #ededed !important;
}

td abbr[title] {
  text-decoration:none;
  border-bottom: 1px dotted #333;
}

header h5 a, h5.active a {
  color: #000;
}

header h5 a:hover, h5.active a:hover {
  color: #000;
  text-decoration: none;
}

header h5 img.logo {
  width:40px;
  height:40px;
  border-radius:20px;
  margin-right:15px;
}

#intro {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
	box-shadow: inset 0 -5rem 20rem rgba(0, 0, 0, .7);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  color: #fff;
}

#intro > div.overlay {
  background: rgba(0, 0, 0, 0.4) no-repeat center center fixed;
  margin: 0;
  height: 100%;
  weight: 100%;
}

#ids ul li, #sources ul li {
  margin-bottom:18px;
}

#ids ul li p, #sources ul li p {
  margin-bottom:10px;
}

.bg-dark a {
  color: #61d0ff;
}

.bg-dark a:active, .bg-dark a:hover {
  color: #a6d7ff;
  text-decoration: none;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
